body {
  background-color: #000080;
}

header {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.page {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.search {
  width: 220px;
  height: 25px;
  border-radius: 7px;
  margin-right: 70px;
  padding: 10px;
}
